.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.netrc
.swiftformat.cache
*.xcresult
ImageToneCurveEditor

# XcodeGen
*.xcodeproj
Demo/Info.plist
